/Evolutionary Learning/run_backups/
.env
DOOM.WAD
DOOM2.WAD
freedoom2.wad
freedoom1.wad
_vizdoom.ini
__pycache__
_vizdoom.ini
test.ipynb
backup.ipynb
redo1.ipynb
redo2.ipynb
vizdoom_ACO_4_directions_friction.ipynb
vizdoom_ACO_4_directions_2.ipynb