vizdoom==1.2.4
gymnasium==0.28.1
opencv-python==4.10.0.84
stable_baselines3==2.3.2
tensorboard==2.18.0
tensorboard-data-server==0.7.2
torch-tb-profiler==0.4.3
numpy==2.2.0
networkx==3.2.1
scipy==1.16.1